<!DOCTYPE html>
<html>
    <head>
        <title>Munch</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href = "style.css"></link>
        <link href='http://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
	   <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.28/angular.min.js"></script>
    </head>

<body id = "index">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-5">BMI Calculator</div>
        <div class="col-md-2">Tools for Health</div>
        <div class="col-md-2"></div>
    </div>
    <hr id = "infoBar">
    <div class = "container-fluid">
    </div>
    <div class = "container" ng-app="" >
        <div id = "section">
            <h1>Munch</h1>
            <div id = "subtitle">
                <p class = "lead" id ="typer" data-typer-targets = "Eat healthy., Live healthy."></p>
                
            </div>
        
            <div id = "form-tabs">
            <div class="span12 text-center">
                <ul class="nav nav-pills center-pills">
                    <li class="nav active"><a href="#metric" data-toggle="tab">Metric</a></li>
                    <li class="nav"><a href="#standard" data-toggle="tab">Standard</a></li>
                </ul>
            </div>
            <br>
            
            <div class="tab-content">
                <div class="tab-pane fade in active" id="metric">
                    <form id ="bmiForm">
                    <div id = "forms">
                        <div class="input-group">
                            <input name = "height" 
                                   type = "text" 
                                   class = "form-control" 
                                   placeholder = "Height" 
                                   aria-describedby="basic-addon2" 
                                   ng-model="height_val"
                                   ng-model-options="{ getterSetter: true }">
                            <span class = "input-group-addon" id="basic-addon2">cm</span>
                        </div>
                        <br>
                        <div class="input-group">
                            <input name = "weight"
                                   type = "text" 
                                   class = "form-control" 
                                   placeholder = "Weight" 
                                   aria-describedby="basic-addon2" 
                                   ng-model="weight_val">
                            <span class = "input-group-addon" id="basic-addon2">kg</span>
                        </div>
                    </div>
                    </form>
                </div>
                <div class="tab-pane fade" id="standard">
                    <div id = "forms">
                        <div class = "row">
                            <div class="col-md-6">
                                <div class="input-group">
                                    <input type = "text" 
                                           class = "form-control" 
                                           placeholder = "Height" 
                                           aria-describedby="basic-addon2">
                                    <span class = "input-group-addon" id="basic-addon2">ft</span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class = "input-group">
                                    <input type = "text"
                                           class = "form-control"
                                           placeholder = "Height"
                                           aria-describedby="basic-addon2">
                                    <span class = "input-group-addon" id="basic-addon2">in</span>

                                </div>
                            </div>
                        </div>
                        
                        <br>
                        <div class="input-group">
                            <input type = "text" 
                                   class = "form-control" 
                                   placeholder = "Weight" 
                                   aria-describedby="basic-addon2">
                            <span class = "input-group-addon" id="basic-addon2">lbs</span>
                        </div>
                    </div>
                </div>
            </div>

            <p id = "bmiOut"></p>

            <button type = "button" 
                    class = "btn btn-default" 
                    onclick = "calcbmi()">BMI</button>
            </div>

            <hr>
            <div class="progress">
                <div id = "prog" 
                     class="progress-bar progress-bar-danger" 
                     role="progressbar" 
                     aria-valuenow="40" 
                     aria-valuemin="0" 
                     aria-valuemax="100" 
                     style="width: {{height_val}}%">
                <span class="sr-only">0% Complete (success)</span>
                </div>
            </div>
        </div>
    </div>
   
    <script>
        function calcbmi(){
            var a = document.getElementById("bmiForm");
            var height = a.elements["height"].value;
            var weight = a.elements["weight"].value;
            var bmi = height/weight;
            document.getElementById("bmiOut").innerHTML=(bmi);
            
        }
    </script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <script src="jquery.typer.js"></script>
        <script>
            $(function () {
            $('[data-typer-targets]').typer();
            });
        </script>

    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
</body>
</html>