.row{
    color:#586A6E;
}

hr{
    border-color: #586A6E;
}

body {
    padding-top: 20px;
    background-color: #212121;
}

#index h1 {
    color: #d9534f;
    font-family: 'Lobster', cursive;
    font-size: 72px;
    text-align: center;
}

#index p{
    color: #FFFFFF;
    text-align: center;
}
#form-tabs{
    padding-top:50px;
}

.center-pills { 
    display: inline-block; 
}

#section{
    width:550px;
    margin-left: auto;
    margin-right: auto;
}


/*
#forms{
    width:250px;
}

*/
