body {
    padding-top: 50px;
    background-color: #212121;
}

#index h1 {
    color: #d9534f;
    font-family: 'Lobster', cursive;
    font-size: 72px;
    text-align: center;
}

#index p{
    color: #FFFFFF;
    text-align: center;
}
#form-tabs{
    padding-top:50px;
}

#section{
    width:550px;
    margin-left: auto;
    margin-right: auto;
}

/*
#forms{
    width:250px;
}

*/
